

/* ============================ START COMMENTS ============================ */
.commentscontainer{width:91%;background-color:white;margin-left:1px;clear:both;border:1px solid black;border-left:none;border-bottom:none;border-right:none;}
.comments {
	margin-bottom:30px;
	padding:30px 20px 5px 20px;
	
}
.comments .comment {
	margin-bottom:30px;
}
.comments .replay {
	margin-bottom:30px;
	margin-left:40px;
}
.comments h3 {
	margin-bottom:30px;
	font-weight:normal;
	color:#444;
	font-size:22px;
}
.comments .commenttextarea {
	border:1px solid #e5e5e5;
	padding:5px;
	resize:none;
	font-family: 'Bitter', serif;
	color:#777;
	width:618px;
	margin-bottom:10px;
}
.comments .lines {
	width:196px;
	float:left;
	color:#444;
	margin-right:20px;
}
.comments .comment_button {
	color:#fefefe;
	text-transform:uppercase;
	text-align:center;
	width:198px;
	border:1px solid #e5e5e5;
	background:#7fd703;
	font-family: 'Bitter', serif;
	font-size:13px;
	padding:7px 0px;
	margin:15px 0px 30px 0px;
	cursor:pointer;
}
.comments .lines_last {
	float:left;
	width:197px;
	color:#444;
}
.comments .line {
	width:186px;
	color:#777;
	font-family: 'Bitter', serif;
	border:1px solid #e5e5e5;
	padding:5px;
	margin-top:5px;
}
.comments .author {
	background:url(../images/comment_bg.png) no-repeat;
	padding-left:50px;
	padding-top:4px;
	padding-bottom:4px;
	color:#cbcbcb;
	background-position:22px top;
}
.comments .author span {
	font-style:italic;
	font-size:11px;
}
.comments .author a {
	font-style:italic;
}
.comments .author a:hover {
	text-decoration:underline;
}
.comments .commenttext {
	padding:10px;
	border-bottom:1px solid #7AAED5;
	border-radius:0px;
	width:auto;
}
/* ============================ END COMMENTS ============================ */
