@CHARSET "UTF-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.clear{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
/* stage */
#stage{margin:0 auto;width:940px;border:0px solid red;}
#stage li{float:left;width:310px;border:0px solid red;}
#stage li div{font-size:12px;padding:10px;color:#999999;}
#stage li div img{border:0px solid red;}
#stage li div span{display:block;padding:10px 0 0 0;line-height:22px;font-family:'微软雅黑';font-size:13px;}
#stage li div a{text-decoration:none;color:black;}